/*reset*/

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*Variables CSS*/
:root {
  --menu: #4a4a4a;
  --fondo: #3cdbc0;
  --texto: #ffffff;
  --color: white;
}

/*Header*/

.header {
  background: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 13px 0;
  width: 100vw;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.list-item {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  color: var(--menu);
}

.icon-adalab {
  background-size: 155px;
  margin-top: 10px;
}

.contact {
  padding: 0 0 0 20px;
}

/*body*/

body {
  background: var(--fondo);
}

/*section*/
